  <div class="panel panel-default">
    <div class="panel-heading">Your Progress</div>
    <div class="panel-body">
      <div class="inner-body">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="reached-text row-container">
              <h4>Reached:</h4>
            </div>
            <div class="progress-container row-container">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ></div>
              </div>
              <div class="initial-value">
                <span class="glyphicon glyphicon-chevron-up"></span><br/>
                <span>56%</span>
              </div>
            </div>
            <div class="gray-box row-container">
                <span>Target<br/>$125<span>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-center info-text"><span class="glyphicon glyphicon-info-sign"></span>You need $69 to reach your target.</p>
        </div>
      </div>
    </div>
  </div>
